html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin-top: 10%;
    color: #184672;
    font-family: 'Roboto Condensed', sans-serif;
    background: #e4f5fc;
    background: -moz-radial-gradient(center, ellipse cover, #e4f5fc 0%, #bfe8f9 33%, #9fd8ef 69%, #69c3ea 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #e4f5fc 0%, #bfe8f9 33%, #9fd8ef 69%, #69c3ea 100%);
    background: radial-gradient(ellipse at center, #e4f5fc 0%, #bfe8f9 33%, #9fd8ef 69%, #69c3ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#69c3ea', GradientType=1);
}

main {

    margin-top: 10%;
    background-color: #368bdb;
    width: 35%;
    margin: auto;
    padding-bottom: 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}























































































































/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */