.new-tweet {
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 2px solid #a8a8a8;
    width: 90%;
    margin: auto;
    display: none;
    margin-bottom: 5%;
    margin-top: 5%;
}

.new-tweet h2 {
    margin-top: 0.3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 94.5%;
    text-align: left;
    border-bottom: 2px solid black;
}

.counter {
    float: right;
    margin-right: 5%;
}

textarea {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 95%;
}

input {
    margin-left: 0.5em;
    margin-bottom: 1em;
}

.color-header {
    font-weight: bold;
    font-size: 30px;
    color: white;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #368bdb;
    text-align: center;
    line-height: 1.5em;
}

.tweet {
    position: relative;
    overflow: hidden;
    width: 100%;


    word-wrap: break-word;
    height: 200px;
}

.user-avatar {
    float: left;
    overflow: hidden;
    margin-top: 5%;
    border-radius: 100%;
    border: solid white 5px;
    width: 100px;
    height: 100px;
}

.tweet h1 {
    position: absolute;
    padding-left: 0.25em;
    display: inline-block;
    font-size: 1.60em;
    margin: 0;
}

.tweet-header {
    height: 100%;
    padding: 0.75em;
    background-color: #cccccc;
}

.user-handle {
    float: right;
}

.tweet-content {
    width: 75%;
    height: 90%;
    margin-right: 3%;
    margin-top: 1.5%;
    border-radius: 10px;
    padding: 0.5em;
    padding-bottom: 0;
    text-align: justify;
    background-color: white;
}

.tweet-content p {
    margin-top: 10%;
    margin-left: 2%;
    margin-bottom: 0;
}

.tweet-footer {
    float: left;
    margin-top: 3%;
    width: 100%;
    padding-bottom: 0;
    border-top: 1px solid #c8cbd1;
    padding: 0.5em;
}

.tweet-actions {
    float: right;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.tweet-actions i {
    padding-left: 1em;
    padding-right: 1em;
    color: #42a6ed;
}

.tweet-timestamp {
    display: inline-block;
}

.tweet:hover .tweet-actions {
    opacity: 1;
}

.tweet:hover {
    opacity: 0.9;
}

.tweet-actions {
    cursor: pointer;
    cursor: hand;
}

.clicked.red {
    color: red;
}

.arrow {
    float: left;
    margin-left: 1.5%;
    margin-top: 14%;
    width: 50px;
    height: 30px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}